.parent{
  display: flex;
  flex-direction: row;
  border: 3px solid red;
}
.childone{
  border: 3px solid blue;
  padding: 3%;
  margin: 2%;
  width: 30%;
  border-radius: 10%;
  text-align: center;
  font-size: 24px;
}
img{
  width: 40%;
  border: 5px solid pink;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 7px 15px #000;
}
.childtwo{
  border: 3px solid blue;
  padding: 3%;
  margin: 2%;
  width: 70%;
  border-radius: 10%;
}
